<nav>
    <a href="/" class="flexleft">Home</a>
      <% if (!user) { %>
        <a href="/signup">Sign up</a>
    <% } %>
    
    <% if (user) { %>
        <a href="/logout">Logout</a>
    <% } %>
    <a href="/dashboard">Dashboard</a>
</nav>



 
 